html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: url(imgs/low_contrast_linen.png);
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

/* Global Header & Navbar */

.header-nav {
    /* height: 70px;
    width: 100%;
    color: #fff; */
    background: #aa0000; 
    margin-bottom: 40px; 
    border-bottom: 3px solid #b3995d;
}

#navbar-text {
    font-size: 35px;
    color: #fff;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 12px;
    margin-right: 15px;
}

#navbar-toggler {
    border-color: rgb(255,255,255);
}

#navbar-text:hover {
    color: #b3995d;
    transition: 0.5s ease;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding: 0rem 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #b3995d;
    transition: 0.5s ease;
}

.navbar-text,
.heading h2 {
    font-family: 'Boogaloo', cursive;
}

/* Global Content */

.section {
    background: #fff;
    width: 90%;
    border-radius: 10px;
}

.heading h2 {
    color: #aa0000;
    border-bottom: 2px solid #000;
    padding-top: 10px;
    margin: 0 20px 20px 20px;
    font-size: 40px;
    text-align: center;
}

/* About Me Content */

.container img {
    width: 300px;
    margin: 6px 15px 10px 0;
    float: left;
}

.paragraph {
    line-height: 2;
    margin-bottom: 20px;
}

.paragraph p:nth-of-type(3) {
    padding-bottom: 30px;
}

/* Portfolio Content */

.card {
    margin: 0 0 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    background: #aa0000;
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}

.card-title {
    text-align: center;
    color: #fff;
}

/* Contact Form */

.form-label {
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 10px;
}

#button {
    background: #aa0000;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
}

#button:hover {
    background: #b3995d;
    color: #000;
}

/* Global Footer */

.container-footer {
    padding: 0;
}

.push {
    height: 50px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #b3995d;
    color: #fff;
    border-top: 5px solid #aa0000;
    text-align: center;
}



@media screen and (max-width: 575px) {
    
    .card {
        margin: 0 0 20px 2px;
    }
}


