* {
    box-sizing: border-box;
}

body {
    background: url(../imgs/low_contrast_linen.png);
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    margin-bottom: -50px;
}

/* ========== NAVBAR HEADER ========== */
#navHeader {
    background: #aa0000; 
    border-bottom: 3px solid #b3995d;
}

#navbarLogo {
    font-family: 'Boogaloo', cursive;
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px;
}

#navbarLogo:hover {
    color: #b3995d;
    transition: 0.5s ease;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.navbar {
    margin: 0 auto;
}

#navbarNav .nav-item {
    color: #fff;
    margin-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: color 1s;
}

#navbarNav .nav-item:hover {
    color: #b3995d;
}

/* ===== HAMBURGER MENU ===== */
.navbar-light .navbar-toggler {
    border-color: #fff;
    outline: none;
}

#toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

/* ===== GLOBAL SECTION CONTENT =====  */
.section {
    background: #fff;
    width: 90%;
    border-radius: 10px;
}

.heading h2 {
    color: #aa0000;
    border-bottom: 2px solid #000;
    padding-top: 10px;
    margin: 0 20px 20px 20px;
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
    text-align: center;
}

/* ========== HOME PAGE ========== */
.container img {
    width: 300px;
    margin: 6px 15px 10px 0;
    float: left;
}

.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    margin-bottom: 20px;
}

.paragraph p:nth-of-type(3) {
    padding-bottom: 30px;
}

/* ========== PORTFOLIO PAGE ========== */
.portfolio-section {
    margin-bottom: 20px;
}

.card {
    width: 280px;
    margin: 0 0 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    width: 100%;
    height: 210px;
}

.card-body {
    background: #aa0000;
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
}

.card-title {
    text-align: center;
    color: #fff;
}

.card-title a {
    color: #fff;
    text-decoration: none;
}

.card-title a:hover {
    color: #b3995d;
}

/* ========== CONTACT PAGE ========== */
.form-label {
    margin-bottom: 5px;
}

.form-control {
    margin-bottom: 10px;
}

#button {
    background: #aa0000;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
}

#button:hover {
    background: #b3995d;
    color: #000;
}

/* ========== FOOTER ========== */
.container-footer {
    padding: 0;
}

.push {
    height: 50px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #b3995d;
    color: #fff;
    border-top: 5px solid #aa0000;
    text-align: center;
}

@media screen and (min-width: 576px) {
    .card {
        max-width: 280px;
        flex: none;
    }
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 280px;
        flex: none;
    }
}

@media screen and (min-width: 992px) {
    .card {
        max-width: 280px;
        flex: none;
    }
}

@media screen and (max-width: 575px) {
    
    .card {
        margin: 0 0 20px 2px;
    }
}